.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the dashboard */
    justify-content: center; /* Vertically center the dashboard */
    text-align: center;
    min-height: calc(100vh - 150px); /* Adjust height for navbar */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  
  .welcome-message {
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: -125px;
    margin-bottom: 20px;
  }
  
  .announcement-container {
    display: flex;
    margin-left: -540px;
    width: 100%;
    max-width: 900px;
    margin-bottom: 30px;
  }
  
  .post-announcement-button {
    background-color: #f43a3a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-announcement-button:hover {
    background-color: #d83434;
  }
  
  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1100px;
    width: 9000%;
  }
  
  .dashboard-item {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .dashboard-item:hover {
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .dashboard-icon {
    font-size: 70px;
    margin-bottom: 10px;
  }